
/* Style for the whole background of the webpage */
*
{
    margin:0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
}
a
{
    text-decoration: none;
    color: white;
}
/* Style for the background of the webpage*/
body
{
    background-color:#6dbce0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.button .button-container
{
  margin-top:40px;
  padding-left: 50px;
}

.button .button-container .button1
{
  display: inline-block;
  width: 300px;
  height: 50px;
  padding: 10px;
  margin-right: 20px;
  background-color: cornflowerblue;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 5px 5px rgba(0,0,0,1);
}

/* Made the A4 container/box */
.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1300px;
    margin:50px;
    background: #fff ;

    /* To make the division for the cv */
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,1);
}
/* The left side box */
.container .left_side
{
    position: relative;
    background: #003147;
    padding:40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom:1px solid grey ;
}
/* Editting the border for the picture to make it circular*/
.profileText .ImageBox
{
    position:relative;
    width:200px;
    height:200px;
    border-radius:50%;
    overflow:hidden;
}
/* Editting for profile picture to make it circular and absolute to the parent (Child)*/
.profileText .ImageBox img
{
    position: absolute;
    top: 0;
    left:0;
    width:100%; 
    height: 110%;
    object-fit: cover;
}
/* Editting colour and font for Profile Name */
.profileText h2
{
    color:#fff;
    font-size:1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 1.4em;

}
/* Editting the font style for job */
.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
/* Style for title : Contact */
.contactInfo
{
  padding-top: 40px ;  /* Will make the "Contact"  have a certain distance from the top*/
}

/* Style for title : Contact */
.title
{
    color:#fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;;
}
.contactInfo ul
{
    position: relative;
}
/* Style for bullet of list */
.contactInfo ul li
{
    position: relative;
    list-style: none;       /* Will make the bullet point to disappear */
    margin: 10px 0;
    cursor: pointer;        /* cursor will be visible and it will display hand */
}

/* Style for the list of icons on Contact Information */
.contactInfo ul li .icon
{
    display: inline-block;
    font-size: 18px;
    color: #03a9f4;
}
/* Style for the list of text on Contact Information */
.contactInfo span
{
    color:#fff;
    text-decoration: none;
    font-weight: 300;
}
.contactInfo.education li
{
    margin-bottom: 15px;

}
/* Style for title : Education*/
.contactInfo.education h5
{
    margin-top: 20px;
    color: #03a9f4;
    font-weight: 600;
}
/* Style for title : Field of Study*/
.contactInfo.education h4 :nth-child(2)
{
    color: #fff;
    font-weight: 600;
}
.contactInfo.education h4
{
    color: #fff;
    font-weight: 300;
}
/* Style for background of the bar */
.contactInfo.language
{
    padding-top: 70px;
}
.contactInfo.language .percent
{
     position: relative;
     width: 100%;
     height: 6px;
     background-color: #081921;
     display: block;
     margin-top: 5px; 

}
.contactInfo.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: blue;
}


 /* Style for the right side of the cv*/
.container .right_side
{
    position: relative;
    background: #fff;
    padding:40px;
}

.about
{
    margin-bottom: 50px;
}
.about :last-child
{
    margin-bottom: 0;
}
/* Styles fr the word "Profile"*/
.title2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
/* Styles for the paragraph under the Profile Information*/
p
{
    color:#333;
    text-align: justify;
}
/* Styles for the year and the name of the location because it is under the same box*/
.about .box .year h5
{
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.about .box .text ul
{
    padding-left: 11px

}
.about .box .text ul li
{
    position: relative;
    list-style: square;       
    cursor: pointer; 
}
/* Style for background of the bar */
.skill .title3
{
    color:#003147;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;;
}

.skill .percent
{
     position: relative;
     width: 100%;
     height: 6px;
     background-color: #081921;
     display: block;
     margin-top: 5px; 
}
.skill .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: blue;
}
