/*
    Assignment 1 and 2
    Muhammad Nur Solihin Bin Malik Radzuan
    Curricular Vitae 
    Design 2
*/
*
{
    margin:0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-color: rgb(242, 211, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Common Style */
a
{
    text-decoration: none;
    color: black;
}
img
{
    width: 100%;
}

.button .button-container
{
  margin-top:40px;
  padding-bottom: 40px;
}

.button .button-container .button2
{
  justify-content: space-between;
  width: 300px;
  height: 50px;
  padding: 10px;
  background-color: orange;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 5px 5px rgba(0,0,0,1);
}
/* Layouts */
.container
{
    width: 100%;
    max-width: 1000px;
    min-height: 1400px;
    background: lemonchiffon ;
    padding: 2rem;
    margin-bottom: 50px;

    /* To make the division for the cv */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.6fr 1fr 1fr;
    gap: 1rem;
    box-shadow: 0 35px 55px rgba(0,0,0,1);
}
.profile
{ 
    /* It will take the whole width of the boxes*/
    grid-column: 1/-1;
    grid-row: 1;
}
/* Styles for Profile container */
.profile-container
{
    display: flex;
    margin: 4px;
    background-color: navajowhite;
    padding: 15px;
    border-radius: 10px;
}
/* Style for image border */
.profile-container .profile-img
{
    position:relative;
    width:800px;
    height:250px;
    border-radius:50%;
    overflow:hidden;
}
/* Style for image in the border*/
.profile-container .profile-img img
{
    position: absolute;
    top: 0;
    left:0;
    width:100%; 
    height: 100%;
    object-fit: cover;
}
/* Styles for Profile Name */
.profile-container .profile-name
{
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 10px;
}
/* Styles for Profile Title */
.profile-container .profile-title
{
    text-transform: uppercase;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.3rem;
}
/* Styles for Profile Description */
.profile-container .profile-description
{
    font-weight: 500;
    padding-left: 10px;
    text-align: justify;
}


/* Layout for the Left side container*/

/* Style for the layout of the left container*/
.right
{
    grid-column: 2;
    grid-row: 2/-1;
    position: relative;
    background-color: navajowhite;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}
/* Style for the left container (background, padding and so on)*/
.contact .title
{ 
    text-transform: uppercase;
    text-align: left;
    padding:10px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.contact ul
{
    position: relative;
    padding-left: 10px;
    padding-bottom: 30px;
}
/* Style for bullet of list */
.contact ul li
{
    position: relative;
    list-style: none;       /* Will make the bullet point to disappear */
    margin: 15px 0;
    cursor: pointer;        /* cursor will be visible and it will display hand */
}

/* Style for the list of icons on Contact Information */
.contact ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 22px;
    color: black;
}

/* Style for Education */
.education .title
{
    text-transform: uppercase;
    text-align: left;
    padding:10px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
}
.education ul li
{
    position: relative;
    padding-left: 10px;
    list-style: none;       
    margin: 15px 0;
    cursor: pointer;
}
.education ul li h4:nth-child(1) /* Referring to the first h5 tag in the relationship of parent-child */
{
    font-weight: 700;
    font-size: 17px;
    color:chocolate

}
.education ul li h4
{
    font-weight: 500;
    font-size: 17px;
}
.education ul li h4:nth-child(3)
{
    font-weight: 600;
    font-size: 17px;
}

/* Styles for the Language Information */

.language .title
{
    text-transform: uppercase;
    text-align: left;
    padding:10px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.language .text
{
    position: relative;
    font-weight: 500;
    font-size: 17px;
    padding-left: 1px;
}
.language ul .percent
{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #081921;
    display: block;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.language .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: orangered;
}
.language ul li
{
    list-style: none;
    padding-left: 10px;
}


/* Left-side of the curricular vitae */


/* Style for the Achievement Information */
.left
{
    position: relative;
    padding-left: 10px;
    grid-column: 1;
    grid-row: 2/-1;
    background-color: navajowhite;
    border-radius: 10px;
    
}

.left .about .title2
{
    padding-top: 10px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

.left .about .box div h4
{
    font-size: 17px;
    font-weight: 600;
    padding: 2px;
    letter-spacing: 1px;
    color:chocolate;
}
.left .about .box div p
{
    text-align: justify;
    padding-left: 4px;
    padding-right: 10px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.left .about .box ul li
{
    list-style: none;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding:4px;
}

/* Style for Skills Information */

.skill .title3
{
    padding-top: 20px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
.skill ul li
{
    list-style: none;
    padding-left: 10px;
}
.skill ul .percent
{
    position: relative;
    width: 80%;
    height: 5px;
    background-color: #081921;
    display: block;
    margin-top: 20px; 
    margin-bottom: 20px;
}
.skill .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: orangered;
}